@charset "UTF-8";
/* -*- coding: UTF-8, tab-width: 2 -*- */

body { font-family: sans-serif; background-color: white; color: black; }

aside.sshot { float: left; display: block; position: relative; line-height: 0;
  margin-right: 1em; margin-bottom: 1em; }
aside.sshot img ~ img {
  display: block; position: absolute; top: 0; left: 0;
}
aside.sshot .shade { opacity: 0.33; }

aside.sshot p { position: absolute; margin: 0; }
aside.sshot p:after { content: attr(title);
  font-size: 12px; line-height: 1em; padding: 0.25ex; border-radius: 100%;
  background-color: yellow; color: sienna; border: 1px solid sienna;
}



